/*================================================
STYCKY FOOTER
================================================*/
body, html {
  height: 100%; }

#page-wrap {
  min-height: 100%;
  margin-bottom: -10px; }

#page-wrap:after {
  content: "";
  display: block; }

footer, #page-wrap:after {
  height: 10px; }

footer {
  background-color: red; }

/*================================================
MAIN STYLES
================================================*/
#navigation {
  height: 78px;
  width: 100%;
  background-color: #010509;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 78px;
  font-size: 30px; }

#earth {
  position: relative;
  height: 777px;
  width: 100%;
  background-color: #000000;
  overflow: hidden; }
  #earth .earth-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #20b7a3; }
    #earth .earth-content h2, #earth .earth-content h3 {
      text-align: center;
      font-size: 65px;
      text-transform: uppercase;
      white-space: nowrap; }
    #earth .earth-content h3 {
      font-size: 50px;
      text-transform: none;
      color: #fff; }

/*# sourceMappingURL=main.css.map */
