@import "bourbon/_bourbon.scss";

@import "_variables.scss";
@import "_sticky_footer.scss";

/*================================================
MAIN STYLES
================================================*/
body {
    
}

#navigation {
    @include size(100% 78px);
    background-color: #010509;
    
    color: #ffffff;
    text-transform: uppercase;
    line-height: 78px;
    font-size: 30px;
}

#earth {
    position: relative;
    @include size(100% 777px);
    background-color: #000000;
    overflow: hidden;
    
    .earth-content {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        color: #20b7a3;
        
        h2, h3 {
            text-align: center;
            font-size: 65px;
            text-transform: uppercase;
            white-space: nowrap;
        }
        
        h3 {
            font-size: 50px;
            text-transform: none;
            color: #fff;
        }
    }
}